.answerButton {
    border-radius: 10px;
    position: fixed;
    color: #000000;
    border-color: red; /* Указываем цвет рамки */
    padding: 15px;
    cursor: pointer;
    top: 170px;
    left: 20px;

}
.answerButton:hover {
    background-color: #fffcfc;
}

.skipButton {
    border-radius: 10px;
    position: fixed;
    color: #000000;
    border-color: red; /* Указываем цвет рамки */
    padding: 15px;
    cursor: pointer;
    top: 170px;
    left: 100px;
}
.skipButton:hover {
    background-color: #fffcfc;
}


.hintButton {
    border-radius: 10px;
    position: fixed;
    color: #000000;
    border-color: red; /* Указываем цвет рамки */
    padding: 15px;
    cursor: pointer;
    top: 170px;
    left: 163px;
}
.hintButton:hover {
    background-color: #fffcfc;
}