# Gradle files
.gradle/
build/

# IDE-specific files
.idea/

# Gradle wrapper files
gradlew
gradlew.bat
gradle/wrapper/

# Logs and temporary files
*.log
out/

# Java и Maven
/target/
/out/
/build/

# IntelliJ IDEA
.idea/
*.iml

# Конфигурации системы
.DS_Store